.features__section {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 14px;
  font-weight: 300;
}

.features__container h1 {
    position: absolute;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    animation: glowing 2000ms infinite ;
}

.features__container {
  width: 1400px;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 1400px) {
    width: 100%;
    flex-direction: column;
  }
}

.features__left {
  flex: 1;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 1400px) {
    padding: 20px;
    justify-content: center;
  }
}

.features__left ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features__list {
  box-shadow: inset 0 0 0 0 #54b3d6;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  font-size: 70px;
  font-weight: 600;
  cursor: pointer;
  color: transparent;
  -webkit-text-stroke: 1px white;
  position: relative;

  @media only screen and (max-width: 1400px) {
    font-size: 24px;
    color: white;
    -webkit-text-stroke: 0px;
  }
}

.features__list:hover {
  box-shadow: inset 650px 0 0 0 #54b3d6;
  color: white;
}

@-webkit-keyframes glowing {
    0% { background-color: #ffe47a; -webkit-box-shadow: 0 0 3px #ffe47a; }
    50% { background-color: #0c182c; -webkit-box-shadow: 0 0 40px #0c182c; }
    100% { background-color: #ffe47a; -webkit-box-shadow: 0 0 3px #ffe47a; }
}