.navbar {
  /* top: 0; */
  padding: 20px;
  margin-left: 5ch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.button {
  width: 120px;
  height: 35px;
  background-color: transparent;
  color: white;
  border: 1px solid; 
  border-radius: 5px;
  cursor: pointer;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 3vw;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #fff;
  font-weight: 600;
  position: relative;
}

