.navbar {
  top: 0;
  /* position: fixed; */
  padding: 20px;
  margin-left: 15vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.button {
  width: 100px;
  height: 35px;
  background-color: none;
  border: 1px solid; 
  border-radius: 5px;
  cursor: pointer;
  /* animation: glowing 1500ms infinite; */
}

.button:hover {
  background-color: #a4dcf3;
  box-shadow: 0 5px 15px rgba(164, 220, 243, .4);
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 3vw;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #fff;
  font-weight: 600;
  position: relative;
}

@-webkit-keyframes glowing {
  0% { background-color: #a4dcf3; -webkit-box-shadow: 0 0 3px #a4dcf3; }
  50% { background-color: #0c182c; -webkit-box-shadow: 0 0 40px #0c182c; }
  100% { background-color: #a4dcf3; -webkit-box-shadow: 0 0 3px #a4dcf3; }
}